.principal-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 !important;
    max-width: none !important;
}

.container-box {
    margin: 0 288px 0 0 !important;
}
